{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Carte et menus{% endblock %}

{% block body %}
<section class="flex flex-col w-full">
    <h1 class="text-4xl text-center">Quai Antique</h1>
    <h2 class="text-2xl text-center">Entrées</h2>
    <div class="text-center max-w-lg mx-auto mt-4">
        {% for dish in dishes %}
            {% if dish.category == "Entrées" %}
                <div class="text-center max-w-lg mx-auto mt-4">
                    <h3 class="text-xl">{{ dish.title }} - <span class="text-lg">{{ (dish.price / 100)|format_number({fraction_digit :2}) }}</span></h3>
                    <p>
                        {{ dish.description }}
                    </p>
                    <p></p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
