<nav>
    <ul>
        <li><a href={{ path('app_home') }}>Accueil</a></li>
        <li><a href={{ path('app_book_table') }}>Réservation</a></li>
        <li><a href={{ path('app_menu_card') }}>Carte et Menus</a></li>
    </ul>
</nav>