@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Configuration générale des polices
h1 {
  font-family: 'Libre Franklin', sans-serif;
}

h2, h3 {
  font-family: 'Tangerine', cursive;
}

p {
  font-family: 'Hind Madurai', sans-serif;
}



// personnalisation de styles pour les flash-messages
@layer  {
  .notice {
    @apply bg-blue-lagoon
  }
  .warning {
    @apply bg-yellow-500
  }
  .error {
    @apply bg-red-500
  }
}