@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Configuration générale des polices
h1 {
  font-family: 'Libre Franklin', sans-serif;
}

h2, h3 {
  font-family: 'Tangerine', cursive;
}

p {
  font-family: 'Hind Madurai', sans-serif;
}

// Image principale de la page d'accueil
div.imgBanner {
  background-image: url('../../public/uploads/images/quaiantiquelogo-63ecbf9c6af68015367382.webp');
  height: 330px;
  background-position: center;
  background-color: black;
}

@media (min-width: 576px) {
  div.imgBanner {
    height: 500px;
  }
}

@media (min-width: 976px) {
  div.imgBanner {
    height: 650px;
  }
}

// personnalisation de styles pour les flash-messages
@layer  {
  .notice {
    @apply bg-blue-lagoon
  }
  .warning {
    @apply bg-yellow-500
  }
  .error {
    @apply bg-red-500
  }
}