{% extends 'base.html.twig' %}

{% block title %}New Tables{% endblock %}

{% block body %}
    <h1>Create new Tables</h1>

    {{ include('tables_crud/_form.html.twig') }}

    <a href="{{ path('app_tables_crud_index') }}">back to list</a>
{% endblock %}
